
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #6190ab;
}
.quote-box{
    background-color: #93d7ff;
    width: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
    font-family:Recursive;

    h2{
        font-size: 32px;
        margin-bottom: 40px;
        position: relative;
    }
    h2::after {
        content: "";
        width: 300px;
        height: 5px;
        border-radius: 3px;
        background-color: #000000;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
      blockquote{
        font-size: 24px;
        min-height: 110px;

        &::after,&::before{
            content: '"';
            font-weight: bold;
        }
      }
      span{
        font-weight: bold;
        display:block;
        margin-top: 10px;
        float: right;
        position: relative;

        &::before{
            content: '';
            width: 15px;
            height: 2px;
            background: #000000;
            position: absolute;
            top: 50%;
            left: -30%;
        }
      }
      .buttons{
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    
        button{
            background-color: #3064ff;
            border-radius: 25px;
            margin:5px;
            color: rgb(255, 255, 255);
            width: 150px;
            height: 50px;
            align-items: center;
            justify-content: center;
            display: flex;
            cursor:pointer;
            border: none;
            font-weight: 500;
            font-family:Recursive;

            img{
                height:30px;
                width: 30px;
                margin-right: 10px;
                justify-content: center;
            }

            &:hover{
                background:  #264ec7;
                color: white;
                transition: 0.2s all ease-in;

            }
            &:nth-child(2){
                
                background: rgb(255, 255, 255);
                color: black;

                &:hover{
                    background-color: #6f6fff;
                    transition: 0.2s all ease-in;
                    color:white;
                }
            }
        }
    }

}
